.page {
  min-width: 320px;
  min-height: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  font-size: 100%;
  line-height: 1.5em;

  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 100%;
    max-height: 768px;
  }
}
