.header {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 4px 20px 4px 10px;
  background-color: #f6f6f6;

  &::after {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    height: 1px;
    content: '';
    background-color: #a4a39e;
  }

  &__return {
    margin-right: 24px;

    svg {
      display: block;
      fill: transparent;
    }
  }

  &__avatar {
    display: block;
    width: 36px;
    height: 36px;
    margin-right: 8px;
    border-radius: 36px;
    object-fit: cover;
  }

  &__contact-info {
    margin-right: auto;
  }

  &__name {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2em;
  }

  &__status {
    font-size: 12px;
    line-height: 1.3em;
    color: #8e8e93;
  }

  &__call {

    svg {
      display: block;
      fill: transparent;
    }

    &--audio {
      margin-left: 25px;
    }
  }
}
