extends ../pug/layout.pug

block meta
  - var title = 'Index';
  title= title
  meta(name='description', content='')

block header
  header.header
    .header__return
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 13 22', width='13', height='22')
        path(stroke='#007aff', stroke-linecap='round', stroke-linejoin='round', stroke-width='3', d='M11 2l-9 9 9 9')
    img.header__avatar(src='https://images.unsplash.com/photo-1617505196480-d80d79bfc91c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8NHwxMDczODU4OXx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60', alt='avatar')
    .header__contact-info
      .header__name Кирилл Турбин
      .header__status Online
    .header__call.header__call--video
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 24 15', widrh='24', height='15')
        path(fill='#007aff', fill-rule='evenodd', d='M16.6531 3.87097C16.6531 1.73309 14.8987 0 12.7347 0H3.91837C1.75431 0 0 1.73309 0 3.87097V11.129C0 13.2669 1.75431 15 3.91837 15h8.81633c2.164 0 3.9184-1.7331 3.9184-3.871V3.87097zM3.91836 1.16124h8.81634c1.5148 0 2.7428 1.21317 2.7428 2.70968V11.129c0 1.4965-1.228 2.7097-2.7428 2.7097H3.91836c-1.51483 0-2.74285-1.2132-2.74285-2.7097V3.87092c0-1.49651 1.22802-2.70968 2.74285-2.70968zm19.87854.69789c.1317.16917.2031.37661.2031.59004v9.85123c0 .5344-.4386.9677-.9796.9677-.1813 0-.359-.0497-.5134-.1435l-3.942-2.3965c-.5794-.3523-.9323-.97628-.9323-1.6484V6.27557c0-.60091.2825-1.16774.7646-1.53411l4.0258-3.05934c.4289-.32587 1.0439-.24662 1.3738.17701zM19.114 5.66195l3.7105-2.81968V11.954l-3.6434-2.21492c-.2318-.14091-.3729-.3905-.3729-.65935V6.27559c0-.24036.113-.46709.3058-.61364z', clip-rule='evenodd')
    .header__call.header__call--audio
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 21 21', width='21', height='21')
        path(fill='#007aff', fill-rule='evenodd', d='M8.17955 4.4567L6.37343 1.40414C5.56909.0446848 3.81498-.405316 2.45553.399035c-.24308.143826-.46352.322866-.65414.531291C.444762 2.4137-.162518 3.82605.0371701 5.16529.446397 7.90983 2.37595 11.0447 5.80409 14.6037l.29772.2941.29452.2981.00581-.0043c3.55318 3.4324 6.68806 5.362 9.43256 5.7712 1.3393.1997 2.7516-.4076 4.235-1.7642.2084-.1906.3874-.411.5313-.6541.8043-1.3595.3543-3.1136-1.0051-3.9179l-3.0526-1.8061-.1518-.0827c-.7187-.3582-1.5739-.3342-2.2748.0731l-.9512.5526-.1105.0574c-.4866.2234-1.067.1239-1.4518-.2608L7.83993 9.39675l-.0837-.09212c-.34062-.41313-.39312-.9997-.11977-1.47014l.55267-.95115c.43636-.75097.43269-1.67915-.00958-2.42664zM19.2598 18.3131c-1.255 1.1478-2.331 1.5996-3.2481 1.4628-2.3571-.3514-5.172-2.0386-8.42555-5.1127l-.56024-.5375-.37846-.3757c-3.26471-3.3899-5.05965-6.32213-5.4234-8.76168-.13675-.91715.3151-1.99315 1.46285-3.24814.11065-.12098.23859-.2249.37969-.30838.74523-.440933 1.69479-.23245 2.19129.4568l.08279.1266 1.80611 3.05256c.22102.37355.22286.83741.00479 1.2127l-.55267.95116c-.52452.90269-.42972 2.03448.23146 2.83638l.12142.1357 3.80292 3.8049c.7383.7382 1.8566.9365 2.8011.5028l.1622-.0826 1.0015-.5804c.3491-.2028.7766-.2161 1.1367-.0366l.1135.0627 3.0151 1.7848c.7891.4669 1.0503 1.485.5834 2.2741-.0835.1411-.1874.2691-.3084.3797z', clip-rule='evenodd')



block content
  main.main
    .main__message.main__message--my
      .main__message-text
        | Добрый день. Доступ Yclients — готово.
      .main__message-time
        | 11:58
    .main__message.main__message--income
      .main__message-text
        | Спасибо
      .main__message-time
        | 11:59



block footer
  footer.footer
    .footer__action.footer__action--attach
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 18 18', width='18', height='18')
        path(fill='#007aff', d='M8.90289.00603207L9 0c.39468 0 .72039.295343.76816.67708l.00603.097114V8.22581h7.45161c.3947 0 .7204.29534.7682.67708L18 9c0 .39468-.2953.72039-.6771.76816l-.0971.00603H9.77419v7.45161c0 .3947-.29534.7204-.67708.7682L9 18c-.39468 0-.72039-.2953-.76816-.6771l-.00603-.0971V9.77419H.774194c-.394685 0-.7203891-.29534-.76816193-.67708L0 9c0-.39468.295343-.72039.67708-.76816l.097114-.00603H8.22581V.774194c0-.394685.29534-.7203891.67708-.76816193L9 0l-.09711.00603207z')
    .footer__write-field
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 18 19', width='18', height='19')
        path(fill='#007aff', fill-rule='evenodd', d='M12 0c3.3137 0 6 2.68629 6 6 0 1.01226-.0735 2.09716-.2206 3.2547-.4336 2.1486-1.2128 3.7513-2.7788 5.3173-1.4682 1.4681-3.0835 2.3777-5.31487 3.1017C8.45927 18.0404 6 18 6 18c-3.31371 0-6-2.6863-6-6V6c0-3.31371 2.68629-6 6-6h6zm0 1.2H6C3.34903 1.2 1.2 3.34903 1.2 6v6c0 2.651 2.14903 4.8 4.8 4.8l1.86029.0018C8.6201 16.7593 9 16.4041 9 15.7362v-1.6437c0-2.7504 2.2214-4.98439 4.9717-4.99994l.6587-.00884.4121-.01289c.377-.01557.6488-.03918.8153-.07083.5922-.11259.9068-.56723.9438-1.36393L16.8 6c0-2.65097-2.149-4.8-4.8-4.8zm4.0819 8.9789c.1318-.0251.2569-.0586.3839-.1027-.476 1.3666-1.245 2.5785-2.3138 3.6473-1.0948 1.0948-2.4309 1.9653-4.0167 2.6119.0425-.1856.0647-.3855.0647-.5992v-1.6437c0-2.0903 1.6883-3.7881 3.7785-3.8l.4883-.0052c.7648-.0128 1.2876-.0462 1.6151-.1084z', clip-rule='evenodd')
    .footer__action.footer__action--make-photo
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 22 19', width='22', height='19')
        path(fill='#007aff', fill-rule='evenodd', d='M14.5426.674438C14.0671.24029 13.4496 0 12.8093 0H9.30259c-.6401 0-1.25749.240166-1.73294.674113l-.68826.628187c-.46776.42693-1.07517.66322-1.70492.66322C2.31758 1.96552 0 4.31216 0 7.2069v6.5517C0 16.6534 2.31758 19 5.17647 19H16.8235C19.6824 19 22 16.6534 22 13.7586V7.2069c0-2.89474-2.3176-5.24138-5.1765-5.24138l-.1851-.0077c-.491-.04093-.9572-.24378-1.3256-.58015l-.7702-.703232zM9.30259 1.2h3.50671c.3404 0 .6694.12804.9242.36062l.7702.70323c.5631.51417 1.2784.82675 2.035.88982l.235.01081C19.0163 3.16552 20.8 4.97158 20.8 7.2069v6.5517c0 2.2353-1.7837 4.0414-3.9765 4.0414H5.17647C2.9837 17.8 1.2 15.9939 1.2 13.7586V7.2069c0-2.16758 1.67723-3.93153 3.77829-4.03645l.42977-.01215c.84583-.05281 1.65116-.39362 2.28229-.96967l.68827-.62819c.2547-.23246.58368-.36044.92397-.36044zM11 5.005c2.7614 0 5 2.23858 5 5 0 2.7614-2.2386 5-5 5-2.76142 0-5-2.2386-5-5 0-2.76142 2.23858-5 5-5zm-3.8 5c0-2.09868 1.70132-3.8 3.8-3.8 2.0987 0 3.8 1.70132 3.8 3.8 0 2.0987-1.7013 3.8-3.8 3.8-2.09868 0-3.8-1.7013-3.8-3.8z', clip-rule='evenodd')
    .footer__action.footer__action--send-audio
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 23', width='16', height='23')
        path(fill='#007aff', fill-rule='evenodd', d='M8.00001 0C10.5328 0 12.586 2.006 12.586 4.48052v6.96968c0 2.4745-2.0532 4.4805-4.58599 4.4805-2.53277 0-4.58599-2.006-4.58599-4.4805V4.48052C3.41402 2.006 5.46724 0 8.00001 0zM.611465 10.2837c.303933 0 .556075.2166.603465.5005l.008.0969v.1313c0 3.7239 3.03643 6.7388 6.77707 6.7388 3.6611 0 6.6475-2.888 6.773-6.5021l.0041-.2367v-.121c0-.3299.2737-.5974.6114-.5974.304 0 .5561.2167.6035.5005l.008.0969-.0038.368c-.1253 4.063-3.3321 7.3602-7.38487 7.6638l.00013 3.4794C8.61146 22.7325 8.3377 23 8 23c-.30393 0-.55607-.2166-.60346-.5005l-.008-.0969.00047-3.4794C3.33869 18.62.133196 15.3267.00404601 11.2671L0 10.8811c0-.33.273762-.5974.611465-.5974zM4.63695 4.48047c0-1.81465 1.50569-3.28571 3.36305-3.28571 1.85737 0 3.3631 1.47106 3.3631 3.28571v6.96973c0 1.8146-1.50573 3.2857-3.3631 3.2857-1.85736 0-3.36305-1.4711-3.36305-3.2857V4.48047z', clip-rule='evenodd')