.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  align-items: center;
  padding: 7px 18px 7px 15px;
  background-color: #f6f6f6;

  &__write-field {
    display: flex;
    flex: 1 0 0%;
    justify-content: flex-end;
    width: 100%;
    max-width: 100%;
    height: 32px;
    padding: 7px;
    background-color: #fff;
    border: 1px solid #8e8e93;
    border-radius: 32px;
  }

  &__action {

    svg {
      display: block;
    }

    &--attach {
      margin-right: 15px;
    }

    &--make-photo {
      margin-left: 20px;
    }

    &--send-audio {
      margin-left: 24px;
    }
  }
}
